{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AI-Powered Emoji Translator</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body class="flex items-start pt-6 justify-center min-h-screen bg-gray-100">
    <div class="bg-white p-6 rounded shadow-lg w-full max-w-[50vw]">
      <h1 class="text-3xl font-bold mb-4 text-center">
        AI-Powered Emoji Translator
      </h1>
      <form
        hx-post="/translate_to_emoji/"
        hx-on::after-request="this.reset()"
        hx-target="#emoji-result"
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
        hx-indicator="#loading-spinner"
        hx-disabled-elt="button"
        hx-sync="this:abort"
      >
        {% csrf_token %}
        <div class="flex space-x-2">
          <input
            type="text"
            name="sentence"
            placeholder="Enter a sentence"
            class="border p-2 flex-grow rounded"
            autocomplete="off"
          />
          <button type="submit" class="bg-blue-500 text-white p-2 rounded">
            Translate to Emojis
          </button>
        </div>

        <div
          id="loading-spinner"
          class="htmx-indicator hidden fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50"
        >
          <div class="bg-white p-6 rounded-lg shadow-xl text-center">
            <svg
              class="animate-spin h-10 w-10 text-blue-600 mx-auto"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <circle
                class="opacity-25"
                cx="12"
                cy="12"
                r="10"
                stroke="currentColor"
                stroke-width="4"
              ></circle>
              <path
                class="opacity-75"
                fill="currentColor"
                d="M4 12a8 8 0 018-8v8H4z"
              ></path>
            </svg>
            <p class="text-gray-600 mt-2 text-lg">Translating...</p>
          </div>
        </div>
      </form>
      <div id="emoji-result" class="mt-4"></div>
    </div>
  </body>
</html>
